body {
    font-family: Roboto, sans-serif, Arial;
    display: flex;
    flex-direction: column;
}

.header {

}

.logo {

}

.link {

}

.intro {

}

.introInfo {

}

.heroHead {

}

.heroInfo {

}

.buttonBlue {

}

.info {

}

.infoHead {

}

.infoContent {

}

.infoCard {

}

.infoCardImage {

}

.infoCardText {

}

.quote {

}

.quoteText {

}

.quoteSource {

}

.signup {

}

.signupContent {

}

.signupHead {

}

.signupText {

}

.buttonWhite {

}

.footer {

}

.footerContent {

}