body {
    font-family: Roboto, sans-serif, Arial;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
}

.logo {

}

.link {
    display: flex;
}

.intro {
    display: flex;
}

.introInfo {
    display: flex;
    flex-direction: column;
}

.heroHead {

}

.heroInfo {

}

.buttonBlue {

}

.info {
    display: flex;
    flex-direction: column;
}

.infoHead {

}

.infoContent {
    display: flex;
}

.infoCard {
    display: flex;
    flex-direction: column;
}

.infoCardImage {

}

.infoCardText {

}

.quote {
    display: flex;
    flex-direction: column;
}

.quoteText {

}

.quoteSource {

}

.signup {
    display: flex;
}

.signupContent {
    display: flex;
    flex-direction: column;
}

.signupHead {

}

.signupText {

}

.buttonWhite {

}

.footer {
    display: flex;
}

.footerContent {

}