body {
    font-family: Roboto, sans-serif, Arial;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1f2937;
}

.headerContent {
    display: flex;
}

.logo {
color: #f9faf8;
}

.link {
    display: flex;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.intro {
    display: flex;
    background-color: #1f2937;
}

.introInfo {
    display: flex;
    flex-direction: column;
}

.heroHead {
    color: #e5e7eb;
}

.heroText {
    color: #e5e7eb;
}

.introImg {
    color: #e5e7eb;
}

.buttonBlue {
    color: #e5e7eb;
    background-color: #3882f6;
}

.info {
    display: flex;
    flex-direction: column;
}

.infoHead {
    color: #1f2937;
}

.infoContent {
    display: flex;
}

.infoCard {
    display: flex;
    flex-direction: column;
}

.infoCardImage {
    border-color: #3882f6;
}

.infoCardText {
    color: #1f2937;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
}

.quoteText {
    color: #1f2937;
}

.quoteSource {
    color: #1f2937;
}

.signup {
    display: flex;
}

.signupContent {
    display: flex;
    flex-direction: column;
}

.signupHead {
    color: #1f2937;
}

.signupText {
    color: #1f2937;
}

.buttonWhite {
    color: #e5e7eb;
    background-color: #3882f6;
    border-color: #e5e7eb;
}

.footer {
    display: flex;
    background-color: #1f2937;
}

.footerContent {
    color: #e5e7eb;
}